html{
    font-size: 62.5%;
}
body, html {
    height: 100%;
}
body{
    margin: 0;
    font-family:'Poppins';
}
.wrapper {
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c3aed;
    margin: 0 4em;
    border-radius:0 0 3rem 3rem;
}
header .logo{
    margin: 4em;
}
nav{
    margin: 4em;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 4rem;
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

/* main */

.hero-image {
    width:200px;
    text-align:center;
    display:flex;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    background-repeat: no-repeat;
}
  
  
