*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
html,body{
  width: 100%;
  height: 100%;
}
:root {
  --primary-color: #000000;
  --secondary-color: #A3A3A3;
  --text-color:#FFFFFF;
}
#main{
  width: 100%;
  
}
#hero{
  width: 100%;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--primary-color);;
}
#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: var(--text-color);
}
#nav a{
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
}
#heading{
  margin-top: 90px;
}
#heading h1{
  margin-left: 30px;
  opacity: 0.6;
  line-height: 1;
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 900;
}
#heading #secondh1{
  margin-left: 130px;
}
.blocktext{
  /* Standard syntax */
  width: -moz-fit-content;
  /* Firefox and Firefox for Android */
  width: fit-content;
}
.blocktext h5{
  text-align: right;
  text-transform: uppercase;
  font-size: 13px;
}
/* add from here */
#miniheadings{
  margin-top: 100px;
  padding-right: 50px;
}
#miniheadings h5{
  text-align: right;
  margin-top: 0.5vw;
  text-transform: uppercase;
  font-size: 1vw;
}
#herofooter{
  padding: 0 2vw;
  position: absolute;
  bottom: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#herofooter a{
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
}
#herofooter #iconset
{
  display: flex;
  gap: 5px;
}
#herofooter .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

/* blob animation */
@keyframes rotate {
from {
  rotate: 0deg;
}

50% {
  scale: 1 1.5;
}

to {
  rotate: 360deg;
}
}

#blob {
background-color: white;
height: 34vmax;
aspect-ratio: 1;
position: absolute;
left: 50%;
top: 50%;
translate: -50% -50%;
border-radius: 50%;
background: linear-gradient(to right, aquamarine, mediumpurple);
animation: rotate 20s infinite;
opacity: 0.8;
filter: blur(100px);
} 
/* blob animation */

/* second */
#second{
  padding-top: 200px;
  padding-right: 10vw;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  color:var(--secondary-color);
}
.elem{
  width: 100%;
  border-top: 1px solid var(--secondary-color);
  padding: 4vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
  position: relative;
}
.elem h1{
  text-transform: uppercase;
  font-size: 6vw;
}
.elemlast{
  border-bottom: 1px solid var(--secondary-color);;
}
.elem a i{
  text-decoration: none;
  color: var(--text-color);
  border-radius: 100%;
  border: 1px solid var(--secondary-color);
}
.elem a{
  text-decoration: none;
  font-size: 2vw;
}

.elem img{
  display: none;
  /* opacity: 0; */
  height: 140%;
  z-index: 999;
  position: absolute;
}
/* third section-about */
#about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 10vw 10vw;
  padding-left: 40vw;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}
#textabout{
  width: 25rem;
}
#textabout h5{
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#textabout p{
  line-height: 1.4;
  margin-bottom: 30px;
}
#textabout a{
  text-decoration: none;
  font-size: 12px;
  border: 1px solid var(--text-color);
  border-radius: 100px;
  padding: 12px 22px;
  color: var(--text-color);
}

#about img{
  width: 200px;
}
/* subscribe section */

#subscribe{
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 20px 30px;
  padding-bottom: 3vw;
}
#subscribe h5{
  text-transform: uppercase;
  opacity: 0.6;
}
#subscribe h3{
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

/* footer */

#footer{
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}
#footerleft{
  display: flex;
  gap: 20px;
}
#footerright{
  display: flex;
  gap:30px;
}
#footer a{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);

}