html{
    font-size: 62.5%;
}
:root{
    --primary-color:#7c3aed;
    --dark-grey:#7B7280;
    --off-white:#F3F4F6;

}
body, html {
    height: 100%;
}
body{
    margin: 0;
    font-family:'Poppins';
}
.wrapper {
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0 4em;
    border-radius:0 0 1rem 1rem;
}
header .logo{
    margin: 4em;
}
nav{
    margin: 4em;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 4rem;
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

/* main */

/**.hero-image {
    width:200px;
    text-align:center;
    display:flex;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    background-repeat: no-repeat;
}**/

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-container img {
    max-width: 70%;
    padding: 3rem;
  }
  .hero-img {
    flex-basis: 40%;
  }
  .hero-text {
    font-size: 20px;
    color: var(--dark-grey);
  }
  .section{
    padding: 2rem;
  }
  .section h1 {
    text-align: center;
  }
  .ow{
    background-color: var(--off-white);
  }

  
  
